html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
  url("../fonts/OpenSansRegular.woff2") format("woff2"),
  url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"),
    url("../fonts/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Semibold"),
    url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

/*! global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  color: #1C1C1C;
  font-size: 36px;
  font-weight: 300;
  line-height: 130%; /* 46.8px */
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
  color: #787878;
  font-size: 16px;
  font-weight: 400;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/*! header */

.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header-link {
  position: relative;
  color: #1c1c1c;
  font-weight: 600;
  font-size: 15px;
}

.header-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.header-link:hover {
  color: #71a7e2;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0; 
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
}

.header-link:active {
  color: #3172b9;
  outline: none;
}

.header-link:active::after {
  opacity: 1;
}

.header-container {
  align-items: center;  /*!для вертикального центрирования элементов*/
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.heade-list-item:not(:last-child) {
  margin-right: 52px;
}

.btn {
  position: relative;
  outline: none;
  border-radius: 3px;
  padding: 16px 35px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #3172b9;
  color: #fff;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid #3172B9;
  outline: none;
  opacity: 0;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71a7e2;
}

.btn:active {
  background-color: #0e3b6c;
}

.btn:active::after {
  opacity: 0;
}


/*! hero */

.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* width: 1200px; */
}

.hero-content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 300;
  line-height: 130%;
}

.hero-descr {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
  color: #787878;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 14px;
}

.hero-secure {
  color: #787878;
  font-size: 11px;
  font-weight: 400;
  line-height: 155%; /* 17.05px */
  text-transform: uppercase;
  background-image: url("../img/hero-secure.svg");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
  padding: 30px;
}

/*! services */

.services {
  border-bottom: 1px solid #dadada;
}

.services-title {
  text-align: center;
  
}

.services-descr {
  text-align: center;
  color: #787878;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.services-item {
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 270px;
  /* outline: 1px solid pink; */
  border-radius: 5px;
  border: 1px solid #E4E4E4;
}

.services-item:hover {
  border-color: #3172B9;
  background-color: #3172B9;
}

.services-item:hover .services-item-desc {
  color: #fff;
}

.services-item:hover .services-item-title {
  color: #fff;
}

.services-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-item-icon {
  fill: #3172B9;
  margin-bottom: 25px;
}

.services-item:hover .services-item-icon {
  fill: #fff;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  color: #1C1C1C;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%; /* 26px */
}

.services-item-desc {
  margin: 0;
  text-align: center;
  color: #787878;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

/*! articles */

.articles {
border-bottom: 1px solid #dadada;
}

.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  width: 570px;
  margin-bottom: 30px;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview {
   overflow: hidden; /*TODO уберает все лишнее и обрезает по блоку */
   border-radius: 5px;
   border: 1px solid #E4E4E4;
  }

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
  
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  color: #787878;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%; /* 15px */
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  color: #1C1C1C;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%; /* 26px */
}

.blog-preview-descr {
  margin: 0;
  color: #787878;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
  max-width: 210px;
}

.blog-preview-link {
  display: flex;
  position: relative;
  width: 100%;
}

.blog-preview-link:focus {
  background-color: #3172b9;
}

.blog-preview-link:focus .blog-preview-title {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-time {
  color: #fff;
}

.blog-preview-link:hover {
  background-color: #71A7E2;
}

.blog-preview-link:hover .blog-preview-title {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-time {
  color: #fff;
}

.blog-preview-link:active {
  background-color: #0E3B6C;
}

.blog-preview-link:active .blog-preview-title {
  color: #fff;
}

.blog-preview-link:active .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:active .blog-preview-time {
  color: #fff;
}

/*! clients */

.clients {
  border: 1px solid #dadada;
}

.clients-item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-item-descr {
  margin: 0;
  margin-bottom: 30px;
  color: #787878;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
}

.clients-user {
  margin-top: auto;
  align-items: center;
  /*TODO: делаем полоску*/
  border-top: 1px solid #dadada;
  width: 100%;
  padding-top: 28px;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172B9;
  border-radius: 100%;
}

.clients-name {
  margin-bottom: 5px;
  color: #1C1C1C;
  font-size: 17px;
  font-weight: 600;
  line-height: 180%; /* 30.6px */
}

.clients-post {
  color: #787878;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
}

/*! contacts */
.contacts {
  border-bottom: 1px solid #dadada;
}

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  width: 370px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  /*TODO: добавляем отступ для иконки*/
  padding-top: 48px;
}

.contacts-item:not(:nth-child(3n)){
  margin-right: 30px;
}

.contacts-item-address {
  background-image: url(../img/location_on.svg);
}

.contacts-item-call {
  background-image: url(../img/phone.svg);
}

.contacts-item-email {
  background-image: url(../img/mail.svg);
}

.contacts-item-caption {
  margin-bottom: 30px;
  color: #1C1C1C;
  font-size: 17px;
  font-weight: 600;
  line-height: 180%; /* 30.6px */
}

.contacts-item-text {
  margin: 0;
  color: #787878;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
  max-width: 214px;
}
.contacts-item-link {
  color: #787878;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
}

.contacts-item-link:focus {
  outline: 1px solid #71a7e2;
}

.contacts-item-link:hover {
  color: #71a7e2;
}

.contacts-item-link:active {
  outline: none;
  color: #0e3b6c;
}



/* .contacts-item-link:not(:last-child) {
  margin-bottom: 5px;
} */

/*! JOIN US */
.join-us {
  border-bottom: 1px solid #dadada;
}

.form-bottom{
  display: flex;
  justify-content: flex-end;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-right {
  width: 49%;
}

.form-btn {
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  margin-bottom: 9px;
}

.form-check {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #787878;
  /* text-decoration-line: underline; */
}

.form-check input {
  margin-right: 8px;
}

.form-check a {
  color: #3172B9;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #3172B9;
}

.join-us-title {
  text-align: center;
}

.join-us-descr {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form-input {
  border-radius: 50px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
}

.form-input:nth-child(-n+2) { 
  margin-bottom: 19px; 
}

.form-input:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-input:hover {
  border-color: #71A7E2;
}

.form-input:active {
  border-color: #0E3B6C;
}


.form-select {
  padding: 16px 28px;
  border-radius: 50px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  width: 251px;
  height: 60px;
}

.form-select:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-select:hover {
  border-color: #71A7E2;
}

.form-select:active {
  border-color: #0E3B6C;
}


.form-textarea {
  border-radius: 20px;
  border: 1px solid #DADADA;
  width: 100%;
  height: 100%;
  /* width: 520px;
  height: 139px; */
  padding: 16px 28px;
  resize: none;
}

.form-textarea:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-textarea:hover {
  border-color: #71A7E2;
}

.form-textarea:active {
  border-color: #0E3B6C;
}

/*! footer */

.footer {
  padding: 42px 0;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-nav{
  margin-right: 56px;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}

.footer-copy {
  color: #787878;
  font-size: 12px;
  font-weight: 400;
}

.footer-link {
  color: #787878;
  font-size: 15px;
  font-weight: 600;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: block; */
  width: 24px;
  height: 24px;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
}

.social-item:not(:last-child){
  margin-right: 32px;
}

/* .social-link-tw {
  background-image: url(../img/twitter.svg);
}

.social-link-linkedin {
  background-image: url(../img/linkedin.svg);
}

.social-link-mail {
  background-image: url(../img/Email.svg);
} */


.social-link svg {
  fill: #000;
}

.social-link-mail svg {
  fill: transparent;
  stroke: #000;
}

.social-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.social-link:hover svg {
  fill: #71a7e2;
}

.social-link-mail:hover svg {
  fill: transparent;
  stroke: #71a7e2;
}

.social-link:active svg {
  fill: #3172B9;
}

.social-link-mail:active svg {
  fill: transparent;
  stroke: #3172B9;
}